{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Reflet Sucré{% endblock %}

{% block content %}
<a href="{{ path('add_account_address') }}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
<h1>Mes adresses</h1>
C'est un espace que vous aller pouvoir gérer toutes vos adresses. <br>
<a href="{{ path('account')}}">Retour</a>
<hr>
{% if app.user.addresses|length == 0 %}
    <p class="text-center">
        Vous n'avez pas encore d'adresse lié au compte client. Pour en ajouter une, veuillez <a href="">cliquer ici</a>. 
    </p> 
{% else %}
<div class="row">
{% for address in app.user.addresses %}
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ address.name }}</h5>
                <p class="card-text">
                {{ address.firstname }} {{ address.lastname }}, <br>
                {{ address.address }},<br>
                {{ address.postal }} - {{ address.city }} - {{ address.country }}
                </p>
                <a href="{{ path('edit_account_address', {'id': address.id}) }}">Modifier</a> | <a href="{{ path('delete_account_address', {'id': address.id}) }}">Supprimer</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endif %}
{% endblock %}
