{% extends 'base.html.twig' %}

{% block title %}Mon compte - Reflet Sucré
{% endblock %}

{% block content %}

	<h1>Mon compte</h1>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="/admin">Vous êtes administrateur, accéder au backoffice ?</a><br>
	{% endif %}

	Bienvenue
	{{ app.user.firstname }}
	dans votre espace client.
	<br>
	C'est un espace que vous aller pouvoir gérer toutes vos infos persos.
	<hr>
	<div class="row">
		<div class="col-md-3">
			<div class="account-item text-center ">
				<img src="{{ 'assets/img/password.png' }}" alt="Modifier mon mot de passe">
				<a href="{{ path('account_password') }}">Modification mot de passe</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="account-item text-center">
				<img src="{{ 'assets/img/location.png' }}" alt="Gérer mes adresses"> 
				<a href="{{ path('account_address') }}">Gestionnaire des adresses</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="account-item text-center">
				<img src="{{ 'assets/img/smartphone.png' }}" alt="Mes commandes en cours">
				<a href="{{ path('account_order_in_process') }}">Commandes en cours</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="account-item text-center">
				<img src="{{ 'assets/img/purchase.png' }}" alt="Mes commandes terminées">
				<a href="{{ path('account_order_done') }}">Commandes terminées</a>
			</div>
		</div>
	</div>

	<div class="footer-account-index"></div>
{% endblock %}
